# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
env/
venv/
ENV/

# Pytest
.pytest_cache/

# VS Code / IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Database
*.db
*.sqlite3

# Generated Reports
reports/*.pdf
reports/*.csv
!reports/.gitkeep

# Models
models/*.pkl
models/*.joblib
!models/.gitkeep

# Datasets
data/*.csv
data/*.xlsx
!data/README.md
!data/.gitkeep
